html {
  font-size: 62.5%;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  margin: 0;
  padding: 0;
}
/*** ELEMENTS ***/
.button {
  background-color: #f8af00;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  padding: 0 20px 0 0;
  border-radius: 28px;
  transition: 0.3s;
  color: #000;
  transition: 0.3s;
}
.button span {
  background-image: url(../images/icons/arrow-button.svg);
  background-repeat: no-repeat;
  background-position: right center;
  padding: 10px 40px 11px 30px;
  display: block;
}
.button-red {
  background-color: #c33;
  font-size: 1.4rem;
  font-weight: 300;
  color: #fff;
}
.button:hover {
  background-color: #c33;
}
.button-red span {
  background-image: url(../images/icons/arrow-white.svg);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}
.button-red:hover {
  background-color: #f8af00;
}
.back {
  background-image: url(../images/icons/arrow-left.svg);
  background-repeat: no-repeat;
  background-position: left center;
  color: #000;
  font-size: 1.4rem;
  padding-left: 30px;
  text-decoration: none;
}
.back:hover {
  text-decoration: underline;
}

/*** LAYOUT ***/
main,
.container {
  max-width: 1125px;
  margin: 0 auto;
  padding-bottom: 38px;
}

/*** TYPOGRAPHY ***/
p {
  line-height: 1.2;
  margin-bottom: 20px;
}
h1 {
  font-size: 4.8rem;
  font-weight: bold;
}
h1.big {
  font-size: 7.1rem;
  margin-top: 50px;
  margin-bottom: 45px;
}
h1.big span {
  color: #c33;
}
h2 {
  font-size: 3.5rem;
  font-weight: 400;
}
/*** FORM ***/
input[type="search"] {
  background-image: url(../images/icons/search.svg);
  background-repeat: no-repeat;
  background-position: 7px 7px;
  border: solid 1px #58595b;
  border-radius: 20px;
  padding: 10px;
  width: 35px;
  height: 35px;
  transition: 1s;
}
.main-top input[type="search"]:focus {
  background-position: 96% 7px;
  border-color: #fac13c;
  width: 200px;
  outline: none;
  box-shadow: none;
}

:not(.main-top) input[type="search"]:focus {
  width: 100%;
  outline-color: #fac13c;
  background-position-x: 95%;
  background-position-y: 7px;
}
/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
/*** FOOTER ***/
footer {
  border-top: solid 7px #c33;
  background-color: #231f20;
  color: #aaa;
  font-weight: 300;
  font-size: 1.8rem;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78px;
}
address {
  font-style: normal;
}
footer a {
  color: #f8af00;
  text-decoration: none;
  padding-left: 45px;
  background-image: url(../images/icons/email.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
@media (min-width: 1200px) {
  .footer-wrapper {
    max-width: 1216px;
    margin: 0 auto;
  }
}
